.notepad-container {
    margin-bottom: 1rem;
    min-height:fit-content;
    width: 80%;
    background-color:antiquewhite;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

.notepad {
    height: fit-content;
    margin: 2rem;
    width:25%;
    border-radius: 15px;
    background-color: rgba(239, 249, 135, 0.900);
}

.notepad-title {
    font-family: 'Indie Flower', cursive;
    text-decoration: underline;
}