.notepad-container {
    margin-bottom: 1rem;
    min-height:fit-content;
    width: 80%;
    background-color:antiquewhite;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

.notepad {
    height: fit-content;
    margin: 2rem;
    width:25%;
    border-radius: 15px;
    background-color: rgba(239, 249, 135, 0.900);
}

.add-note-button {
    background-color: white;
    border: none;
    border-radius: 30px;
    font-size: 56px;
    margin: 1rem;
    height: 120px;
    width: 120px;
    cursor: pointer;
}

.add-note-button:hover {
    background-color: lightgrey;
}

.notepad-title {
    font-family: 'Indie Flower', cursive;
    text-decoration: underline;
}