.App {
  text-align: center;
  background-image: url("./resources/index-background.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}

.Intro-container {
  height: fit-content;
  width: 50%;
  background-color: antiquewhite;
  margin-top: 1rem;
  position: absolute;
  left: 25%;
  border-radius: 30px;
}


.App-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}


