.App {
  text-align: center;
  background-image: url("./resources/index-background.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Intro-container {
  height: fit-content;
  width: 50%;
  background-color: antiquewhite;
  margin-top: 1rem;
  position: absolute;
  left: 25%;
  border-radius: 30px;
}

.Made-with-react {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: black;
}

.App-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-Footer {
  height: fit-content;
  width: 100%;
  background-color: rgba(239, 249, 135, 0.900);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
